<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.UserDAO">
	<insert id="insertUser">
		INSERT INTO user(id, pw, name, email, home, age) 
		VALUES(#{id}, #{pw}, #{name}, #{email}, #{home}, #{age})
	</insert>
	
	<select id="selectUser" resultType="com.myweb.www.domain.UserVO">
		SELECT * FROM user WHERE id = #{id} AND  pw = #{pw}
	</select>
	
	<select id="selectCountUser" resultType="int">
		SELECT count(*) FROM user WHERE id = #{id}
	</select>
	
	<update id="updateUser">
		UPDATE user SET name = #{name}, email = #{email}, home = #{home}, age = #{age}
		WHERE id = #{id}
	</update>
</mapper>